@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LemonMilk';
  font-weight: 500;
  src: url(/font/LEMONMILK-Light.otf) format('woff');
}

@font-face {
  font-family: 'LemonMilk-bold';
  font-weight: 400;
  src: url(/font/LEMONMILK-Bold.otf) format('woff');
}

@layer base {
  body {
    @apply text-primary;
  }
  .page {
    @apply w-full h-screen overflow-hidden;
  }
  .h1 {
    @apply text-4xl xl:text-[64px] text-primary xl:leading-[72px] font-extrabold mb-[18px];
  }
  .h2 {
    @apply text-4xl mb-6 font-bold;
  }
  .h3 {
    @apply text-x1 mb-4 font-semibold;
  }
  .description {
    @apply text-base xl:text-xl xl:leading-8;
  }
  .section {
    @apply w-full h-screen pt-[60px] xl:pt-[120px];
  }
  .btn-sm {
    @apply h-14;
  }
  .btn-lg {
    @apply bg-primary h-[54px] rounded-[5px] px-4 transition-all duration-300;
  }
  .btn-primary {
    @apply bg-primary;
  }
  .btn-secondary {
    @apply bg-secondary;
  }
  .btn-accent {
    @apply bg-accent;
  }
  .ht {
    @apply text-[35px] font-semibold;
  }
  p {
    @apply text-secondary;
  }
  .wrapper {
    position: absolute;
    height: 80vw;
    transform: translate (-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
  }
  .container {
    width: 60vmin;
    height: 20vmin;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }

  @media screen and (max-width: 1024px) {
    .wrapper {
      height: 85vw;
    }
    .container {
      height: auto;
      width: 26vmin;
      font-size: 12px;
    }
  }

  .page {
    position: relative;
    height: 100vh; /* Set the height of the entire page */
    overflow: hidden; /* Hide the overflow of the entire page */
  }

  .section {
    height: 100vh; /* Set the height of each section */
    overflow-y: scroll; /* Enable scrolling within each section */
    scroll-snap-type: y mandatory; /* Enable snapping behavior */
  }

  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

.highlight-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper_container {
  padding: 2rem 0;
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}

.swiper-slide {
  width: 37rem !important;
  position: relative !important;
  margin: 0 85px;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controller {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
